<div class="page-header">
  <%= link_to project_path(@project), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    &nbsp;Back
  <% end %>
  <h1>Start Discussion</h1>
</div>

<%= render 'form' %>
