<p>
  <%= t('devise.mailer.invitation_instructions.hello', email: @contribution.user.email) %>
</p>

<p>
  <%= "#{@contribution.inviter.name} has invited you to #{@contribution.project.title}," %>
  you can accept it through the link below.
</p>

<p>
  <%= link_to t('devise.mailer.invitation_instructions.accept'), join_contribution_url(@contribution.token) %>
</p>
