<div class="col-md-8">
  <div class="page-header">
    <%= link_to [@project, @task], class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-info-sign"></span>
        Show
    <% end %>
    <h1>Editing task</h1>
  </div>
  <%= render 'form' %>
</div>
