<div id="cd-shadow-layer"></div>
<div id="cd-cart">
  <h2>Notifications</h2>
  <%= link_to 'Mark all read', mark_all_read_notifications_path, class: 'pull-right', method: :patch, remote: true %>
  <div class="clearfix"></div>
  <ul class="cd-cart-items" id="notificationList">
    <!--populate notifications here-->
  </ul>
  <p class="cd-go-to-cart"><a href="<%= notifications_path %>">Go to Notification Page</a></p>
</div>
