<div id="cd-shadow-layer"></div>
<div id="cd-cart">
  <h2>Notifications</h2>
  <ul class="cd-cart-items" id="notificationList">
    <!--populate notifications here-->
  </ul>
  <p class="cd-go-to-cart"><a href="<%= notifications_path %>">Go to Notification Page</a></p>
</div>
