<h1>Notifications</h1>

<% @notifications.each do |notification| %>
  <div class="notification">
    <%= notification.activity.owner.name if notification.activity.owner %>
    <%= render_activity notification.activity %>
  </div>
<% end %>