<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6 footerleft ">
        <div class="logofooter"><%= ENV['APP_NAME'] %></div>
        <p>allows you to camp all your management tasks under one camp along with third party apps integration.</p>

        <p><i class="fa fa-map-pin"></i> 84 G, DHA Masjid Chowk Phase 1 Lahore</p>

        <p><i class="fa fa-phone"></i> Phone (Pakistan) : 042-31234567</p>

        <p><i class="fa fa-envelope"></i> E-mail : info@camone.com</p>

        <div class="social">
          <a class="fa fa-facebook" title="" target="_blank" href="#"></a>
          <a class="fa fa-twitter" title="" target="_blank" href="#"></a>
          <a class="fa fa-google" title="" target="_blank" href="#"></a>
          <a class="fa fa-linkedin" title="" target="_blank" href="#"></a>
          <a class="fa fa-dribbble" title="" target="_blank" href="#"></a>
        </div>
      </div>
      <div class="col-md-2 col-sm-6">
        <h6 class="footer-heading">GENERAL LINKS</h6>
        <ul class="footer-ul">
          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Privacy Policy</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Terms & Conditions</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Client Gateway</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Ranking</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Case Studies</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> FAQ </a></li>
        </ul>
      </div>
      <div class="col-md-5 col-sm-6">
        <h6 class="footer-heading">LATEST POST</h6>

        <div class="post">
          <blockquote>
            <p>facebook crack the movie advertisment code:what it means for you <br>
              <footer>August 3,2015</footer>
            </p>
          </blockquote>
          <blockquote>
            <p>facebook crack the movie advertisment code:what it means for you <br>
              <footer>August 3,2015</footer>
            </p>
          </blockquote>
          <blockquote>
            <p>facebook crack the movie advertisment code:what it means for you <br>
              <footer>August 3,2015</footer>
            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</footer>
