</main>
<nav id="cd-lateral-nav">
  <ul class="cd-navigation">
    <li class="item-has-children">
      <a href="#">Choose Projects</a>
      <ul class="sub-menu">
        <li class="item-has-children">
          <a href="#">Dev</a>
          <ul class="sub-menu">
            <li class="item-has-children">
              <a href="#">Project 1</a>
              <ul class="sub-menu">
                <li><a href="#">ToDO</a></li>
                <li><a href="#">Discussion</a></li>
                <li><a href="#">Calendar</a></li>
                <li><a href="#">File</a></li>
              </ul>
            </li>
            <li class="item-has-children">
              <a href="#">Project 2</a>
              <ul class="sub-menu">
                <li><a href="#">ToDO</a></li>
                <li><a href="#">Discussion</a></li>
                <li><a href="#">Calendar</a></li>
                <li><a href="#">File</a></li>
              </ul>
            </li>
            <li class="item-has-children">
              <a href="#">Project 3</a>
              <ul class="sub-menu">
                <li><a href="#">ToDO</a></li>
                <li><a href="#">Discussion</a></li>

                <li><a href="#">Calendar</a></li>
                <li><a href="#">File</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="item-has-children">
          <a href="#">Web Projects</a>
          <ul class="sub-menu">
            <li><a href="#">Project 1</a></li>
            <li><a href="#">Project 2</a></li>
            <li><a href="#">Project 3</a></li>
          </ul>
        </li>
        <li class="item-has-children">
          <a href="#">Mobile Projects</a>
          <ul class="sub-menu">
            <li><a href="#">Project 1</a></li>
            <li><a href="#">Project 2</a></li>
            <li><a href="#">Project 3</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <!-- item-has-children -->
  </ul>
  <ul class="cd-navigation cd-single-item-wrapper">
    <li><a href="#"><i class="fa fa-user mg-r15"></i> My Account</a></li>
    <li><a href="#"><i class="fa fa-cog mg-r10"></i> Manage Projects</a></li>
    <li><a href="#"><i class="fa fa-cloud mg-r10"></i> Storage Upgrade</a></li>
    <li><a href="#"><i class="fa fa-life-ring mg-r10"></i> Tutorial & Support</a></li>
    <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "fa fa-sign-out" %></li>
  </ul>
  <!-- cd-single-item-wrapper -->

  <ul class="social-icons">
    <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
    <li><a href="#"><i class="fa fa-github-square fa-2x"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
  </ul>
  <!-- socials -->
</nav>
