<header id="top-sticky-nav" class="dasboard-navbar">
  <ul class="left-nav">
    <li><a href="<%= projects_path %>" class="dashboard-nav" title="Dashboard"><i class="fa fa-home"></i></a></li>
    <li><a href="#" class="dashboard-nav" title="My Widgets"><i class="fa fa-tasks"></i></a></li>
    <li>
      <a class="dashboard-nav" href="#" title="Notification"><i class="fa fa-bell-o"></i><span class="badge notification-badge">42</span></a>
    </li>
  </ul>
  <a id="cd-menu-trigger"><span class="cd-menu-text"></span><span class="cd-menu-icon"></span></a>
</header>
<main class="cd-main-content">
