<% if resource.attachments.present? %>
  <h4>Attachments</h4>
  <ul>
    <% resource.attachments.each do |attachment| %>
      <li><%= link_to attachment.attachment_file_name, download_project_attachment_path(@project, attachment) %></li>
    <% end %>
  </ul>
<% end %>