<%= form_for([@project, @attachment],html: { class: "form-horizontal", role: "form", multipart: true }) do |f| %>
    <%= render 'groups/select_or_create_group', form_builder: f, resource: @attachment  %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
<% end %>