<section id="features" class="features">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-push-5">
        <%= image_tag(('feature-todo.png'), :class => "img-responsive") %>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <article>
          <h2>TO-DO's</h2>

          <p>TO-DO are the basic unit of action in Campone.
            You can create new tasks, edit an existing task or delete a task. </p>
          <ul>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Suspendisse rutrum eleifend</li>
            <li>Nulla nec lacinia velit</li>
          </ul>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <%= image_tag(('feature-discussion.png'), :class => "img-responsive") %>
      </div>
      <div class="col-md-5">
        <article>
          <h2>Discussions</h2>

          <p>Use discussions to make an announcement, brainstorm, celebrate accomplishments, or talk about any other
            topic.</p>
          <ul>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Suspendisse rutrum eleifend</li>
            <li>Nulla nec lacinia velit</li>
          </ul>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 col-md-push-5">
        <%= image_tag(('feature-files.png'), :class => "img-responsive") %>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <article>
          <h2>Attachments</h2>

          <p>An attachment object represents any file attached to a task in Campone,
            whether it???s an uploaded file or one associated with a Task.</p>
          <ul>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Suspendisse rutrum eleifend</li>
            <li>Nulla nec lacinia velit</li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</section>