<section class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">CAMPONE</h1>

          <p class="intro-text mg-b30">allows you to camp all your management tasks under one camp along with third
            party apps
            integration.</p>
          <a class="btn register-btn" href="<%= new_user_registration_path %>">REGISTER</a>

          <div class="page-scroll">
            <a href="#features" class="btn btn-circle">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>