<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog login-dailog" role="document">
    <div class="modal-content login-content">
      <div class="modal-header login-header">
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body login-body">
        <form>
          <div class="form-group">
            <label class="modal-label" for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
          </div>
          <div class="form-group">
            <label class="modal-label" for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group text-center">
            <a href="dashboard.html" class="btn btn-success" style="width: 98%">Submit</a>
          </div>
          <div class="or_div mg-b20 mg-t20">
            <div class="text"><span>login with</span></div>
            <div class="line">&nbsp;</div>
          </div>
          <div class="text-center">
            <a href="#"><i class="fa fa-facebook-square fa-2x mg-r10" style="color: #46629E;"></i></a>
            <a href="#"><i class="fa fa-twitter-square fa-2x mg-r10" style="color: #659FCB;"></i></a>
            <a href="#"><i class="fa fa-google-plus-square fa-2x mg-r10" style="color:#D74337;"></i></a>
            <a href="#"><i class="fa fa-linkedin-square fa-2x mg-r10" style="color: #0177B5;"></i></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
