<section id="reviews" class="pd-b100 pd-t50">
  <div class="container">
    <div class="row text-center">
      <div class="mg-b70">
        <h4>Reviews From Our Users</h4>

        <p>What our users are saying about the product</p>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="testimonials">
          <div class="active item">
            <blockquote><p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet,
              consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</p>
            </blockquote>
            <div class="carousel-info">
              <img alt="" src="http://112.196.9.211:8022/ecza/wp-content/uploads/2016/08/dummy.jpg" class="pull-left">

              <div class="pull-left">
                <span class="testimonials-name">John Doe</span>
                <span class="testimonials-post">Commercial Director</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="testimonials">
          <div class="active item">
            <blockquote><p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet,
              consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</p>
            </blockquote>
            <div class="carousel-info">
              <img alt="" src="http://112.196.9.211:8022/ecza/wp-content/uploads/2016/08/dummy.jpg" class="pull-left">

              <div class="pull-left">
                <span class="testimonials-name">John Doe</span>
                <span class="testimonials-post">Commercial Director</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="testimonials">
          <div class="active item">
            <blockquote><p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet,
              consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</p>
            </blockquote>
            <div class="carousel-info">
              <img alt="" src="http://112.196.9.211:8022/ecza/wp-content/uploads/2016/08/dummy.jpg" class="pull-left">

              <div class="pull-left">
                <span class="testimonials-name">John Doe</span>
                <span class="testimonials-post">Commercial Director</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>