
<div id='calendar'></div>
<div class="col-sm-5 my-custom-popup"  id="addEvent" style="display: none; position: absolute; z-index: 1000; background-color: white
        ; border: 2px solid #a1a1a1; border-top-right-radius: 16px;">
  <i class="glyphicon glyphicon-remove-sign pull-right pop-up-close"  style="font-size: 25px;position:absolute; right:-14px; top:-14px; z-index: 2000 ; color: red; " > </i>
  <div class="PopupContainer">
    <div class="form-group">
      <%= label_tag "Type", nil, class: "col-sm-3 control-label" %>
      <div class="col-sm-9" style="margin-bottom: 20px
      ">
      <%= select_tag "Type", options_for_select([ "Event", "Task" ], "Event"), { id: 'selectEventType', class: 'form-control' }  %>
      </div>
    </div>
    <div class="popup" id="addCalEventPopup" style="padding: 10px">
      <%= render 'events/form' %>
    </div>
    <div class="popup" id="addCalTaskPopup" style="padding: 10px">
      <%= render 'tasks/form' %>
    </div>
  </div>
</div>

<div class="col-sm-5 my-custom-popup"  id="eventInfo" style="display: none; position: absolute; z-index: 1000; background-color: white
        ; border: 2px solid #a1a1a1; border-top-right-radius: 15px;">
  <i class="glyphicon glyphicon-remove-sign pull-right pop-up-close" style="font-size: 25px;position:absolute; right:-14px; top:-14px; z-index: 2000 ; color: red; " > </i>
  <div class="PopupContainer">
    <div class="popup" id="calEventInfoPopup" style="padding: 10px">

    </div>
  </div>
</div>

<script>
  $(document).ready(function() {

    $('#addCalTaskPopup').hide();

    $( document ).on( 'keydown', function ( e ) {
      if ( e.keyCode === 27 ) { // ESC
        $('#addEvent').hide();
      }
    });

    $('.pop-up-close').on( 'click', function () {
      $('#addEvent').hide();
      $('#eventInfo').hide();

      $('#selectEventType').val("Event");
      $('#addCalEventPopup').show();
      $('#addCalTaskPopup').hide();
    });

    $( "#selectEventType" ).change(function() {
      if (this.value == "Task"){
        $('#addCalTaskPopup').show();
        $('#addCalEventPopup').hide();
      } else {
        $('#addCalTaskPopup').hide();
        $('#addCalEventPopup').show();
      }
    });

    $('#calendar').fullCalendar({
      left: "prev,next",
      selectable: false,
      header: {
        left: 'prev',
        center: 'title',
        right: 'next'
      },
      events: window.location.pathname + "/get_events",


      dayClick: function(date, jsEvent, view) {
        $('#event_due_at').val(date);
        $('#addEvent').css({ left: get_left_position(jsEvent.pageX), top: jsEvent.pageY}).show().fadeIn();
      },

      eventClick: function(calEvent, jsEvent, view) {
        var html= "<dl class=dl-horizontal>" +
                "<dt>Title: </dt><dd>" + calEvent.title + "</dd>" +
                "<dt>Description: </dt><dd>" + calEvent.description+ "</dd>" +
                "<dt>Due At: </dt><dd>" + calEvent.start+ "</dd>" +
                "</dl>" +
                "<a href="+ calEvent.editUrl +" data-remote='true'>Edit</a>";

        $('#calEventInfoPopup').html(html);
        $('#eventInfo').css({ left: get_left_position(jsEvent.pageX ), top: jsEvent.pageY}).show().fadeIn();
      }
    });


    function get_left_position(event_x){
      var window_size = {
        width: window.innerWidth || document.body.clientWidth,
        height: window.innerHeight || document.body.clientHeight
      };
      var pop_up_width =  $('#addEvent').width();

      return  event_x < window_size['width']/2 ? event_x : event_x - pop_up_width;
    }

  });
</script>