<% content_for(:tab_nav) do %>
    <%= render 'shared/tab_nav', project: @project, active: 'settings' %>
<% end %>
<div class='custom-tab-container'>
  <%= render 'shared/settings_tab', project: @project, class_name: 'active', active: 'integrations' %>

  <div class='col-lg-9 col-md-9 col-sm-9 col-xs-9 custom-tab'>
    <div class='custom-tab-content active'>
      <div class='tab-content-header'>
        <h3 class='heading-3'>Integrations</h3>
      </div>
      <hr>
      <div>
        <%= render 'integrations/available_integrations' %>
      </div>
    </div>
  </div>
</div>
