<div class="col-md-6 col-md-offset-3">
  <h1 class="app-logo">tn camp</h1>

  <div class="invite-logo mg-b30">People In <br> My First Project</div>
  <div class="invite-form">
    <%= render 'form' %>
  </div>
</div>
