<%= render layout: 'common_form', locals: { project: @project, integration: @integration } do |f| %>

  <ol>
    <li>From Bitbucket, open the repository where you want to add the webhook.</li>
    <li>Click the Settings link on the left side.</li>
    <li>From the links on the Settings page, click the Webhooks link.</li>
    <li>Click the Add webhook button to create a webhook for the repository.</li>
    <li>Enter a Title with a short description.</li>
    <li>Enter <%= webhook_url(@integration) %> in URL</li>
    <li>Fill rest of the form and click Save</li>
  </ol>

<% end %>
