<h3 class="text-center mg-b70">Try out these integrations to make tracking your work even easier.</h3>
<div class="col-md-6 col-md-offset-3">
<div class="col-md-12">
  <div class="panel panel-default integration-panel nopadding">
    <div class="panel-heading">Add Source Code Integration</div>
    <div class="panel-body">
      <ul class="list-inline">
        <li>
          <a class="btn btn-block btn-social btn-bitbucket">
            <i class="fa fa-bitbucket"></i> Bitbucket
          </a>
        </li>
        <li>
          <a class="btn btn-block btn-social btn-github">
            <i class="fa fa-github"></i> Github
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="panel panel-default integration-panel nopadding">
    <div class="panel-heading">Add Push Notification Integration</div>
    <div class="panel-body">
      <ul class="list-inline">
        <li>
          <a class="btn btn-block btn-social btn-twitter">
            <i class="fa fa-twitter"></i> Twitter
          </a>
        </li>
        <li>
          <a class="btn btn-block btn-social btn-slack">
            <i class="fa fa-slack"></i> Slack
          </a>
        </li>
        <li>
          <a class="btn btn-block btn-social btn-hipchat">
            <%= image_tag('hipchat.png') %> Hipchat
          </a>
        </li>
        <li>
          <a class="btn btn-block btn-social btn-flowdock">
            <i class="fa fa-foursquare" aria-hidden="true"></i> Flowdock
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="col-md-12">
  <div class="panel panel-default integration-panel nopadding">
    <div class="panel-heading">Add Import Task Integration</div>
    <div class="panel-body">
      <ul class="list-inline">
        <li>
          <a class="btn btn-block btn-social btn-asana">
            <%= image_tag('asana-fill.png') %> Asana
          </a>
        </li>
        <li>
          <a class="btn btn-block btn-social btn-trello">
            <i class="fa fa-trello"></i> Trello
          </a>
        </li>
        <li>
          <a class="btn btn-block btn-social btn-jira">
            <%= image_tag('jira-logo.png') %> Jira Atlassian
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

</div>