<%= render layout: 'common_form', locals: { project: @project, integration: @integration } do |f| %>
  <div class="form-group">
    <%= f.label :url, 'URL', class: "col-md-2" %>
    <div class="col-md-10">
      <%= f.url_field :url, class: "form-control" %>
    </div>
  </div>
<% end %>
