/*

1.00 Reset CSS
2.00 Fonts CSS
3.00 Landing Page Section
4.00 Dashboard Navigation CSS
5.00 Task List css
6.00 Dashboard Home CSS
7.00 Create Project CSS
8.00 Task Show CSS
9.00 Task Comment Section CSS
10.00 Notification Index CSS
11.00 Discussion Index CSS
12.00 Files CSS

*/
@import "reset";
@import "fonts";

/*
  3.00 Landing Page CSS
  ---------------
*/

.wrapper {
  background-color: #fff;
  height: 450px;
  position: relative;
}

.line-temp {
  position: absolute;
  left: 49%;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #ddd;
  z-index: 1;
}

.wordwrapper {
  text-align: center;
  height: 12px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -12px;
  z-index: 2;
}

.word {
  color: #585353;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 3px;
  font: bold 12px arial, sans-serif;
  background: #fff;
}

.or_div {
  clear: both;
  position: relative;
  margin-top: 16px;
}

.line {
  border-bottom: 1px solid #ddd;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
}

.text {
  text-align: center;
  font-size: 14px;
  display: block;
  z-index: 10;
  position: relative;
}

.text span {
  background-color: #fff;
  display: inline-block;
  padding: 0 10px;
}

/*
  4.00 Dashboard Navigation CSS
  ---------------
*/

.dasboard-navbar {
  z-index: 4;
  margin-bottom: 0;
  color: #fff;
  border: 0;
  border-radius: 0;
  background-color: #39A1E7;
  height: 60px;
  padding: 6px 10px 5px;
  .navbar-nav > li > a {
    color: #fff;
  }
  .navbar-brand {
    font-weight: bold;
    color: #fff;
  }
  .navbar-nav > {
    .open > a {
      color: #fff;
      background-color: #63ACEC;
      &:hover, &:focus {
        color: #fff;
        background-color: #63ACEC;
      }
    }
    li > a {
      &:hover, &:focus {
        color: #FBFBFB;
      }
    }
  }
  .navbar-brand {
    &:hover, &:focus {
      color: #FBFBFB;
    }
  }
  .navbar-nav > li.badge-list {
    margin-right: 10px;
    margin-top: 4px;
  }
}

.left-nav {
  margin-top: 13px;
  padding: 0;
  list-style: none;
}

.left-nav > li {
  float: left;
}

.dashboard-nav {
  padding: 9px 12px !important;
  background-color: #5AB5F1;
  border: 1px solid #278fd6;
}

.dashboard-nav i {
  color: #fff;
}

.left-nav li a {
  border-right: 0;
}

.left-nav li:last-child a {
  border-right: 1px solid #278fd6;
}

.notification-badge {
  padding: 3px 4px;
  position: absolute;
  background-color: #f00;
  top: 6px;
}

.project {
  box-sizing: border-box;
  margin: 20px 20px 0 0;
  position: relative;
  height: 272px;
  width: 220px;
  float: left;
  padding: 3px 20px 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0, 0, 1, 0.05);
  cursor: pointer;
}

.project-name {
  color: #000;
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 400;
  width: 165px;
  height: 48px;
  overflow: hidden;
}

.project .cog_container {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 30px;
}

.cog-setting {
  color: #8D8C8C;
  position: absolute;
  top: 20px;
  left: 0;
  display: inline-block;
}

.project .color_corner {
  position: absolute;
  top: -2px;
  right: 0;
  border: 1px solid transparent;
  border-top-right-radius: 3px;
  width: 20px;
  height: 20px;
}

.project .triangle {
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: inherit;
}

.project-icon {
  display: block;
  float: left;
  line-height: 16px;
  border-radius: 3px;
  border: 1px solid #dedede;
  padding: 9px 12px;
  margin-right: 4px;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #ccc;
}

.project-icon:hover, .project-icon:focus {
  border-color: #bdbdbd;
  color: #000;
}

.project-user {
  position: absolute;
  bottom: 15px;
  left: 16px;
}

.project-user a {
  color: #fff;
  padding: 10px;
  border-radius: 100%;
}

.project-description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*
  5.00 Task List css
  ------------------
*/

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sortable li {
  margin: 0 3px 3px 3px;
  padding: 6px 9px 9px 20px;
  height: 33px;
  cursor: pointer
}

@media screen and (max-width: 768px) {
  #sortable li {
    height: 50px;
    padding: 0;
  }
}

.custom-ui-drag {
  position: absolute;
  margin-left: -1.3em;
  cursor: move
}

.custom-ui-state {
  border: none;
  background: transparent;
  border-bottom: 1px solid #e4e4e4;
  padding-top: 5px;
}

.custom-ui-state:hover, .custom-ui-state:focus {
  border-bottom-color: #ccc;
}

.todo-content {
  display: inline;
  color: #646363;
  font-size: 14px;
}

.customTodo-icon {
  font-size: 18px;
  color: #D0D0D0;
  padding: 0 4px;
}

.customTodo-icon:hover, .customTodo-icon:focus {
  color: #6B7B95;
}

.tag-holder {
  margin-left: 2px;

  i.fa, .tag {
    margin-left: 3px;
  }
}

.tag {
  display: inline-block;
  background-color: #eee;
  border-radius: 3px;
  color: #8b8b8b;
  font-size: 10px;
  padding: 2px 4px;
}

.tag a {
  color: #2178c3;
}

/*
  6.00 Dashboard Home CSS
  -----------------------
*/

.nopadding-left {
  padding-left: 0 !important;
}

.custom-content-container {
  overflow: hidden;
  padding-top: 30px;
}

.custom-label {
  font-weight: 400;
}

.widget {
  overflow: hidden;
  opacity: 0.6;
  margin-bottom: 20px;
  display: block;
  padding: 8px 15px 0;
  border: 1px solid #d3dfeb;
  border-radius: 3px;
}

.widget:hover, .widget:focus {
  opacity: 1;
}

.widget img {
  margin-bottom: 10px;
}

.widget i {
  margin-top: 7px;
  margin-right: 10px;
  color: #6DBAED;
}

.widget-title {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 15px;
  color: #000;
}

.newProject-contianer {
  background-color: #fff;
  border: 1px solid #d3dfeb;
  border-radius: 3px;
}

.img-back {
  width: 100%;
  height: 100px;
  background: image-url('new_project_background.png') no-repeat;
  margin-bottom: 20px;
}

.create-project {
  display: block;
  margin: 0 10px 10px 10px;
  opacity: 0.6;
  font-size: 18px;
  color: #000;
}

.create-project span {
  color: #6BB951;
}

.project-anchors {
  padding: 10px 15px 0;
}

.anchor-template {
  opacity: 0.8;
  color: #000;
  display: block;
  padding: 14px 0;
  line-height: 16px;
  border-top: solid 1px #e7eef2;
}

.anchor-template:hover, .anchor-template:focus {
  color: #000;
}

.anchor-template i {
  color: #d3dfeb;
  margin-right: 15px;
}

.anchor-template:hover i {
  color: #AFAAAA;
}

/*
  7.00 Create Project CSS
  -----------------------
*/

.custom-plus {
  background-color: #37B800;
  color: #fff;
  padding: 6px 7px !important;
}

.custom-plus:hover, .custom-plus:focus {
  color: #37B800;
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 6px 6px !important;
}

.custom-select-container {
  width: 30%;
  float: left;
}

.app-logo {
  text-align: center;
  font-weight: normal;
  font-family: LogoSpecial;
  font-size: 100px;
  color: #b9babd;
}

.invite-logo {
  text-align: center;
  color: #232323;
  font-size: 24px;
  font-weight: 300;
}

.invite-form {
  overflow: hidden;
  padding: 20px 0;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
}

.todo-form {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.todo-fields-contianer {
  overflow: hidden;
  margin-bottom: 10px;
}

.todo-label {
  font-weight: 400;
  padding-top: 5px;
  width: 15%;
  float: left;
}

.custom-input-container {
  width: 20%;
  float: left;
}

.add-todo-container {
  overflow: hidden;
  background-color: #f7fafc;
  border-radius: 3px;
  border: 1px solid #d4e0eb;
  padding: 15px;

}

/*
  8.00 Task Show CSS
  -------------------
*/

.show-page-head {
  padding: 10px;
}

.user-img-15 {
  color: #fff;
  background-color: #DD4138;
  padding: 15px;
  border-radius: 100%;
}

.todo-head-container {
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.todo_name {
  margin-top: 5px;
  margin-left: 10px;
  display: inline-block;
}

.todo-list {
  color: #99B2D4;
  font-weight: 700;
  font-size: 14px;
}

.todo-name {
  color: #3a4352;
  margin-top: 3px;
  font-size: 15px;
}

.todo-info-list {
  list-style: none;
  margin-bottom: 20px;
}

.todo-info-list li {
  padding: 5px 0 5px 0;
}

.key {
  font-size: 13px;
  color: #6f6f6f;
}

.value {
  font-size: 13px;
  font-weight: bold;
  color: #232323;
  margin-left: 5px;
}

.todo-info-list .description-value {
  font-weight: normal;
}

.todo-item {
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid #dedede;
  background-color: #F5F5F5;
  padding: 10px;
  margin-bottom: 10px;
}

.todo-noti-panel {
  margin-top: 20px;
  border-radius: 0;
}

/*
  9.00 Task Comment Section CSS
  ------------------------------
*/

.comment-heading span {
  font-weight: 300;
  font-size: 12px;
  margin-left: 10px;
}

.custom-btn {
  display: inline-block;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border-radius: 4px;
  padding: 7px 15px 7px 15px;
  border: 1px solid #dedede;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
  color: #3a4352;
  font-size: 13px;
  font-weight: 700;
  opacity: .7;
}

.custom-btn:hover, .custom-btn:focus {
  background-color: #39A1E7;
  color: #fff;
}

.file {
  display: inline-block;
  width: 200px;
  font-weight: 700;
  color: #2178c3;
  text-decoration: none;
  cursor: pointer;
}

/*
  10.00 Notification Index CSS
  ------------------------------
*/

.notification-panel {
  border-radius: 0 !important;
}

.notification-panel .panel-heading {
}

.read-message {
  background-color: #F8F8F8 !important;
}

.unread-message {
  background-color: #fff !important;
}

.unread-message .panel-title {
  font-weight: 700;
}

.notification-panel h4 {
  color: #000;
  opacity: 0.6;
  font-weight: 400;
  font-size: 14px;
}

.notification-panel h4 i {
  color: #D1D1D1;
}

.notification-user {
  color: #fff;
  padding: 10px;
  border-radius: 100%;
}

.icon-edit {
  margin: 0 10px 0 10px;
  font-size: 18px;
  vertical-align: middle;
  color: #ccc;
}

.message-info {
  vertical-align: middle;
  font-size: 12px;
}

.notification-message-container {
  padding: 10px 0;
}

.btn-viewitem {
  background-color: #39A1E7;
  color: #fff;
  border-radius: 3px;
}

.btn-viewitem:hover {
  color: #fff;
}

.btn-read {
  border-color: #b1b1b1;
  background-color: #fff;
  color: #333;
  border-radius: 3px;
}

.notifi-btn-container {
  text-align: center;
}

.notification-form {
  padding: 15px;
}

.panel * {
  outline: 0 !important;
}

.success-edit i {
  color: #008000;
}

/*
  11.00 Discussion Index CSS
  --------------------------
*/

.anchor-container {
  cursor: pointer;
}

.heading-3 {
  font-size: 20px;
  font-weight: 400;
  color: #232323;
}

.discussion-list {
  border-bottom: 1px solid #ddd;
}

.discussion-list th {
  background-color: #F5F5F5;
  padding-top: 9px;
  font-weight: 700;
  border-bottom-width: 2px;
  color: #888;
  text-shadow: 0 1px 0 #fff;
}

.discussion-list td {
  padding-bottom: 0 !important;
  color: #666;
  font-size: 10px;
  line-height: 1.6em;
}

.discussion-list td,
.discussion-list th {
  text-align: left;
}

.discussion-list td + td,
.discussion-list th + th {
  text-align: center;
}

.discussion-list .list-anchor {
  font-size: 14px;
}

/*
  12.00 Files CSS
  ---------------
*/

.file-icon {
  box-sizing: border-box;
  display: inline-block;
  height: 30px;
  background: transparent;
  border: 1px solid #e0e0e0;
  padding: 7px 9px 0;
  font-size: 13px;
}

.file-icon:hover, .file-icon:focus {
  color: #000;
}

.newTaskForm .customHideEvent {
  display: none !important;
}

.custom-tooltip .tooltip-inner {
  max-width: 150px;
  width: 150px;
}

// Trumbowyg Editor Styling

.trumbowyg-editor {
  background-color: #fff;
}

.trumbowyg-editor ol,
.trumbowyg-editor ul {
  margin-left: 20px;
}

.trumbowyg-editor ol li,
.trumbowyg-editor ul li {
  padding-left: 5px;
}

.trumbowyg-editor ul {
  list-style: disc;
}

.trumbowyg-editor ol {
  list-style: decimal;
}

.discussion-content {
  font-weight: normal;

  ol, ul {
    margin-left: 20px;
  }

  ol li, ul li {
    padding-left: 5px;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }
}

.progress-status {
  margin-right: 10px;
}

.progress-unscheduled {
  background-color: #777;
}

.progress-unstarted {
  background-color: #c8cbd0;
  padding: .2em 1.4em .3em;
}

.progress-started {
  background-color: #5bc0de;;
  padding: .2em 2em .3em;
}

.progress-paused {
  background-color: #f7c018;
  padding: .2em 2em .3em;
}

.progress-finished {
  background-color: #203e64;
  padding: .2em 1.9em .3em;
}

.progress-delivered {
  background-color: #f39300;
  padding: .2em 1.6em .3em;
}

.progress-rejected {
  background-color: #950828;
  padding: .2em 1.9em .3em;
}

.progress-accepted {
  background-color: #629200;
  padding: .2em 1.7em .3em;
}

.todo-after + p {
  margin-bottom: 7px;
}

.unscheduled-color {
  color: #777;
}

.accepted-color {
  color: #629200;
}

.nav-tabs li .dropdown-toggle {
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  color: #337ab7;
  margin-top: 7px;
}

.nav-tabs li .dropdown-toggle:hover,
.nav-tabs li .dropdown-toggle:focus,
.nav-tabs li .dropdown-toggle:active {
  border: 1px solid transparent;
}
