.navbar-landing {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  text-transform: uppercase;
  background-color: #39a1e7;
  .navbar-brand {
    font-weight: 700;
    &:focus {
      outline: 0;
    }
  }
  a {
    color: #fff;
  }
  .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
    &:active {
      outline: 0;
    }
  }
  .nav li {
    a {
      transition: background .3s ease-in-out;
      &:hover {
        outline: 0;
        background-color: rgba(255, 255, 255, .2);
      }
      &:focus {
        outline: 0;
        background-color: rgba(255, 255, 255, .2);
      }
    }
    &.active {
      outline: 0;
      background-color: rgba(255, 255, 255, .2);
    }
  }
  &.navbar-toggle:focus {
    outline: 0;
  }
}

@media(min-width: 767px) {
  .navbar-landing {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
    &.top-nav-collapse {
      border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
  }
  .top-nav-collapse {
    padding: 0;
    background-color: #39a1e7;
  }
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: image-url('campone-landing-banner.jpg') no-repeat bottom center scroll;
  background-color: #000;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.intro::before {
  background: rgba(0, 0, 0, 0.3);
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.intro-body {
  display: table-cell;
  vertical-align: middle;
}

.brand-heading {
  font-size: 40px;
}

.intro-text {
  font-size: 18px;
}

@media(min-width: 767px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .brand-heading {
    font-size: 100px;
  }
  .intro-text {
    font-size: 25px;
  }
}

.register-btn {
  padding: 10px 40px;
  color: #fff;
  font-size: 18px;
  background-color: #39a1e7;
  line-height: 1.5;
  border-radius: 3px;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #39a1e7;
    background-color: #fff;
  }
  &:focus {
    color: #39a1e7;
    background-color: #fff;
  }
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 100px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 35px;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  transition: background .3s ease-in-out;
  i {
    color: #39a1e7;
  }
}

.features {
  background-color: rgba(0, 0, 0, 0.03);
  overflow-x: hidden;
  padding: 100px 0;
  div[class="row"] {
    &:nth-child(1) {
      margin-bottom: 3em;
    }
    &:nth-child(2) {
      margin-bottom: 3em;
    }
    &:nth-child(3) .col-md-4 article {
      margin-bottom: 1.5em;
    }
  }
  article {
    margin-top: 1.5em;
    h2 {
      font-size: 24px;
      margin: 24px 0 12px;
    }
    li {
      font-size: 17px;
      color: #8a8a8a;
      padding-left: 1em;
      text-indent: -.7em;
      padding-bottom: .2em;
      &:last-child {
        padding-bottom: 0;
      }
      &:before {
        content: "• ";
        color: #f56363;
        padding-right: .5em;
      }
    }
  }
}

@media(min-width: 992px) {
  .features {
    div[class="row"] {
      height: 550px;
      &:nth-child(1) {
        margin-bottom: 7.5em;
      }
      &:nth-child(2) {
        margin-bottom: 7.5em;
        .col-md-7 img {
          left: -255px;
          position: absolute;
        }
      }
    }
    article {
      margin-top: 12em;
    }
    img {
      max-width: none;
      width: 145%;
    }
  }
}

@media(min-width: 992px) and(max-width: 1200px) {
  .features img {
    width: 820px;
  }
}

#map {
  width: 100%;
  height: 200px;
}

@media(min-width: 767px) {
  #map {
    height: 400px;
  }
}
footer {
  background-color: #222;
  padding: 50px 0 30px;
}

.footer-heading {
  font-weight: 700;
  color: #fff;
}

.footerleft {
  padding: 0 36px;
  p {
    color: #fff;
    font-size: 12px !important;
    margin-bottom: 15px;
    i {
      margin-right: 5px;
    }
  }
}

.logofooter {
  margin-bottom: 10px;
  font-size: 25px;
  color: #fff;
  font-weight: 700;
}

.footer-ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 2px;
  li {
    line-height: 29px;
    font-size: 12px;
    a {
      color: #fff;
      transition: color 0.2s linear 0s, background 0.2s linear 0s;
      &:hover {
        transition: color 0.2s linear 0s, background 0.2s linear 0s;
        color: #39a1e7;
      }
    }
  }
  i {
    margin-right: 10px;
  }
}

footer .post {
  color: #fff;
  blockquote {
    font-size: 13px;
    margin-bottom: 10px;
    padding: 0 10px;
    border-left-width: 3px;
    footer {
      padding: 0;
      color: #ccc;
    }
  }
}

.social [class*="fa fa-"] {
  background-color: #333;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: auto 3px;
  width: 30px;
  font-size: 15px;
  text-align: center;
}

.fa-twitter:hover {
  background-color: #46c0fb;
}

.fa-facebook:hover {
  background-color: #3c5998;
}

.fa-google:hover {
  background-color: #d62d20;
}

.fa-linkedin:hover {
  background-color: #0177b5;
}

.fa-dribbble:hover {
  background-color: #888888;
}

section {
  &#contact {
    background-color: #222;
    background-image: image-url('map-image.png');
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
    .section-heading {
      color: #fff;
    }
    .form-group {
      margin-bottom: 25px;
      input {
        padding: 20px;
        &.form-control {
          height: auto;
        }
      }
      textarea {
        padding: 20px;
        &.form-control {
          height: 236px;
        }
      }
    }
    &:-moz-placeholder {
      font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      color: #eee;
    }
    &:-ms-input-placeholder {
      font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      color: #eee;
    }
    .text-danger {
      color: #e74c3c;
    }
    .form-control:focus {
      border-color: #39a1e7;
      box-shadow: none;
    }
  }
  &#contact::-webkit-input-placeholder {
    font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eee;
  }
  &#contact::-moz-placeholder {
    font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eee;
  }
}
