#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0 3px 3px;
    padding: 6px 9px 9px 20px;
    height: 33px;
    cursor: pointer;
  }
}

@media screen and(max-width: 768px) {
  #sortable li {
    height: 50px;
    padding: 0;
  }
}

.custom-ui-drag {
  position: absolute;
  margin-left: -1.3em;
  cursor: move;
}

.custom-ui-state {
  border: none;
  background: transparent;
  border-bottom: 1px solid #e4e4e4;
  padding: 8px 0;
  &:hover {
    border-bottom-color: #ccc;
  }
  &:focus {
    border-bottom-color: #ccc;
  }
}

.todo-content {
  color: #646363;
  font-size: 14px;
  margin-bottom: 0;
  overflow: hidden;
  .fa-story-feature {
    margin-right: 7px;
  }
  .fa-bug {
    color: #FF3333;
  }
  .fa-star-o {
    color: #FFCC00;;
  }
}

.customTodo-icon {
  font-size: 18px;
  color: #d0d0d0;
  padding: 0 4px;
  &:hover {
    color: #6b7b95;
  }
  &:focus {
    color: #6b7b95;
  }
}

.tag-holder {
  cursor: default;
  margin-left: 2px;
  i.fa, .tag {
    margin-left: 3px;
  }
}

.tag {
  display: inline-block;
  background-color: #eee;
  border-radius: 3px;
  color: #8b8b8b;
  font-size: 10px;
  padding: 2px 4px;
  a {
    color: #2178c3;
  }
}

.progress-status {
  cursor: default;
  margin-right: 10px;
  font-family: 'Roboto Mono', monospace;
}

.progress-unscheduled {
  background-color: #777;
}

.progress-unstarted {
  background-color: #c8cbd0;
}

.progress-started {
  background-color: #5bc0de;
}

.progress-paused {
  background-color: #f7c018;
}

.progress-finished {
  background-color: #203e64;
}

.progress-delivered {
  background-color: #f39300;
}

.progress-rejected {
  background-color: #950828;
}

.progress-accepted {
  background-color: #629200;
}

.unscheduled-color {
  color: #777;
}

.accepted-color {
  color: #629200;
}

.todo-title {
  width: 80%;
  float: left;
}

.story-detail-panel {
  .panel-heading {
    background-color: transparent;
  }

  .story-props {
    > div, > form > div {
      margin-bottom: 10px;

      &.col-md-4 {
        padding-left: 0;
      }

      &.trumbowyg-box {
        margin-top: 0;
      }
    }
  }
}

.story-detail-icon {
  margin-right: 5px;
}

.todo-after + p {
  margin-bottom: 7px;
}

//.table-borderless > tbody > tr {
//  > td {
//    border: 0;
//  }
//  > th {
//    border: 0;
//  }
//}

.todo-detail-icon a {
  color: #000;
}

.story-detail-panel .panel-heading .nav-tabs > li > a {
  padding: 5px;
}

.story-detail-panel .panel-heading .nav-tabs {
  border-bottom: none;
}

.story-detail-panel .panel-body .table-story-detail {
  margin-bottom: 3px;
}

.story-selected {
  background-color: #f7fafc;
}

.new-comment-form {
  padding: 0 10px;
}

.pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */
}

.pagination a, .pagination span, .pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}

.pagination .disabled {
  //color: #999999;
  //border: 1px solid #dddddd;
  display: none;
}

.pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1;
}

.pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5;
}

.pagination a:hover, .pagination a:focus {
  color: #000033;
  border-color: #000033;
}

.pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}

.pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}

.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
